<div class="userSettingswrapper" ng-controller="leaderBoardRankController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userSettings/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->

    <!--Page Views-->
    <div class="userSettingsContentwrapper">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <span>LeaderBoard Rank</span>
                </h1>
            </div>
        </div>

        <!--data table-->
        <div class="row">
            <div class="col-lg-12" page-Control gap="5" viewby="viewby" currentpage="currentpage" operations="operations" items="items" searchrecord="searchrecord">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th sort-Records order="firstName", sort="sort">First Name</th>
                            <th sort-Records order="lastName", sort="sort">Last Name</th>
                            <th sort-Records order="preferredName", sort="sort">Preferred Name</th>
                            <th sort-Records order="category", sort="sort">Category</th>
                            <th sort-Records order="course", sort="sort">Course</th>
                            <th sort-Records order="date", sort="sort">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in (items | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby) | orderBy:sort.sortingOrder:sort.reverse"
                            class="hand-cursor" data-toggle="modal" data-target="#{{item.fullName}}">
                            <user-Card-Modal user="item" pid="item.fullName"></user-Card-Modal>
                            <td>{{item.fullName}}</td>
                            <td>{{item.fullName}}</td>
                            <td>{{item.preferredName}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.course}}</td>
                            <td>{{item.date}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <td colspan="5" ng-if="(items|filter:searchrecord).length == 0" class="text-center">
                            <strong>DATA NOT FOUND.</strong>
                        </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>