<div class="userSettingswrapper" ng-controller="leaderBoardRankController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userSettings/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->

    <!--Page Views-->
    <div class="userSettingsContentwrapper">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <span>LeaderBoard Rank</span>
                </h1>
            </div>
        </div>

        <!--data table-->
        <div class="row">
            <!-- display category -->
            <div class="col-xs-12 displayUserController">
                <label class="col-xs-3">Category: </label>
                <div class="col-xs-6">
                    <select ng-model="selectCategory" ng-options="category as category.name for category in categories" class="form-control" required>
                        <option value="">Please select a category...</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-12" page-Control gap="5" viewby="viewby" currentpage="currentpage" operations="operations" items="items" searchrecord="searchrecord">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Preferred Name</th>
                            <th>Total Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in (items | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby) | orderBy:sort.sortingOrder:sort.reverse">
                            <td data-ng-click="openUserProfileModal(item._id)" class="hand-cursor">
                                {{item.assigneeName.firstName}}
                            </td>
                            <td data-ng-click="openUserProfileModal(item._id)" class="hand-cursor">
                                {{item.assigneeName.lastName}}
                            </td>
                            <td data-ng-click="openUserProfileModal(item._id)" class="hand-cursor">
                                {{item.assigneeName.preferredName}}
                            </td>
                            <td>{{item._id}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <td colspan="4" ng-if="(items|filter:searchrecord).length == 0" class="text-center">
                            <strong>DATA NOT FOUND.</strong>
                        </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>