<div class="userSettingswrapper" ng-controller="userProfileController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userSettings/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->

    <!--Page Views-->
    <div class="userSettingsContentwrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <span>{{getDisplayName()}}</span>
                        <small>
                            Profile Overview
                            <i class="fa fa-fw fa-gear titl-side-btn" ng-click="openEditProfileModal()" ></i>
                        </small>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <!-- user basic information -->
                        <div class="panel-body">
                            <div class="col-xs-12 col-sm-4">
                                <div>
                                    <img class="img-circle img-responsive avatar-large center-block" alt="avatar" data-ng-src="{{avatarUrl}}">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <ul class="list-group row user-info-list">
                                    <li class="list-group-item">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5"><strong>First Name: </strong></div>
                                            <div class="col-xs-7">{{getCurrentUser().name.firstName}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5"><strong>Last Name: </strong></div>
                                            <div class="col-xs-7">{{getCurrentUser().name.lastName}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5"><strong>Preferred Name: </strong></div>
                                            <div class="col-xs-7">{{getCurrentUser().name.preferredName}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5"><strong>Email: </strong></div>
                                            <div class="col-xs-7">{{getCurrentUser().email}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5"><strong>Last Login: </strong></div>
                                            <div class="col-xs-7">{{getCurrentUser().lastLoginDate}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5"><strong>Access Privilege: </strong></div>
                                            <div class="col-xs-7">
                                                <div ng-if="getCurrentUser().isLocalUser && getCurrentUser().courseEnrolled.length==0">Super Admin</div>
                                                <div ng-if="!getCurrentUser().isLocalUser">
                                                    <a href="javascript:;" ng-if="getCurrentUser().courseEnrolled.length!=0" data-toggle="collapse" data-target="#accessPrivilegesTable">
                                                        View More Access Privileges <i class="fa fa-fw fa-caret-down"></i>
                                                    </a>
                                                    <span ng-if="getCurrentUser().courseEnrolled.length==0" class="text-muted"><strong>No Access Privilege Assigned</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div id="accessPrivilegesTable" class="table-responsive collapse">
                                                <table class="table table-bordered table-striped table-hover  text-center">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">Course</th>
                                                        <th class="text-center">Privilege</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="ce in getCurrentUser().courseEnrolled">
                                                        <td>{{ce.course}}</td>
                                                        <td>{{ce.privilege}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- biography -->
                        <div class="bs-callout bs-callout-danger">
                            <h4> Biography </h4>
                            <p>
                                {{getCurrentUser().biography}}
                            </p>
                            <div ng-if="getCurrentUser().biography.length===0" class="text-muted">This guy is too lazy and doesn't add a biography here...</div>
                        </div>

                        <!-- states graphs -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-danger infoBlock">
                                    <div class="panel-heading">
                                        <h4> Total States Points </h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <!--<div ng-if="courses.length > 0" class="form-group col-xs-12">-->
                                                <!--<label class="col-xs-2 control-label"><h5>Course:</h5></label>-->
                                                <!--<div class="col-xs-8">-->
                                                    <!--<select ng-model="selectedCourseBar" ng-options="course as course.name for course in courses" class="form-control" required>-->
                                                        <!--<option value="">Please select a course...</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--ng-if="courses.length > 0"-->
                                            <h3 ng-if="bardata.length === 0" class="col-xs-12 text-center">
                                                <strong>No Points Earned.</strong>
                                            </h3>

                                            <!--<h3 ng-if="courses.length === 0" class="col-xs-12 text-center">-->
                                                <!--<strong>No Course taken.</strong>-->
                                            <!--</h3>-->

                                            <div class="col-xs-12">
                                                <bar-Chart ng-if="bardata.length !== 0" bardata="bardata" xkey="xkey" ykeys="ykeys" labels="labels"></bar-Chart>
                                            </div>

                                            <div ng-if="bardata.length !== 0" class="text-right col-xs-12">
                                                <a href="/states">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="panel panel-danger infoBlock">
                                    <div class="panel-heading">
                                        <h4>States Points Percentage</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <!--<div ng-if="courses.length > 0" class="form-group col-xs-12">-->
                                                <!--<label class="col-xs-2 control-label"><h5>Course:</h5></label>-->
                                                <!--<div class="col-xs-8">-->
                                                    <!--<select ng-model="selectedCourseDonut" ng-options="course as course.name for course in courses" class="form-control" required>-->
                                                        <!--<option value="">Please select a course...</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--ng-if="courses.length > 0"-->
                                            <h3 ng-if="donutdata.length === 0" class="col-xs-12 text-center">
                                                <strong>No Points Earned.</strong>
                                            </h3>

                                            <!--<h3 ng-if="courses.length === 0" class="col-xs-12 text-center">-->
                                                <!--<strong>No Course taken.</strong>-->
                                            <!--</h3>-->

                                            <div class="col-xs-12">
                                                <donut-Chart ng-if="donutdata.length !== 0" donutdata="donutdata"></donut-Chart>
                                            </div>

                                            <div ng-if="donutdata.length !== 0" class="text-right col-xs-12">
                                                <a href="/states">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
