<div class="userSettingswrapper" ng-controller="pointsHistoryController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userSettings/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->

    <!--Page Views-->
    <div class="userSettingsContentwrapper">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <span>Points History</span>
                </h1>
            </div>
        </div>

        <!--data table-->
        <div class="row">
            <!-- display category -->
            <div class="col-xs-12 displayUserController">
                <label class="col-xs-3">Category: </label>
                <div class="col-xs-6">
                    <select ng-model="selectCategory" ng-options="category as category.name for category in categories" class="form-control" required>
                        <option value="">Please select a category...</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-12" page-Control gap="5" viewby="viewby" currentpage="currentpage" operations="operations" items="items" searchrecord="searchrecord">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th sort-Records order="assignee.name.firstName", sort="sort">Assignee's First Name</th>
                            <th sort-Records order="assignee.name.lastName", sort="sort">Assignee's Last Name</th>
                            <th sort-Records order="assigner.name.firstName", sort="sort">Assigner's First Name</th>
                            <th sort-Records order="assigner.name.lastName", sort="sort">Assigner's Last Name</th>
                            <th sort-Records order="value", sort="sort">Value</th>
                            <th sort-Records order="grantDate", sort="sort">Date</th>
                            <th sort-Records order="category.name", sort="sort">Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in (items | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby) | orderBy:sort.sortingOrder:sort.reverse">
                            <td><a data-ng-click="openUserProfileModal(item.assignee)" class="hand-cursor">
                                {{item.assignee.name.firstName}}</a>
                            </td>
                            <td><a data-ng-click="openUserProfileModal(item.assignee)" class="hand-cursor">
                                {{item.assignee.name.lastName}}</a>
                            </td>
                            <td><a data-ng-click="openUserProfileModal(item.assigner)" class="hand-cursor">
                                {{item.assigner.name.firstName}}</a>
                            </td>
                            <td><a data-ng-click="openUserProfileModal(item.assigner)" class="hand-cursor">
                                {{item.assigner.name.lastName}}</a>
                            </td>
                            <td>{{item.value}}</td>
                            <td>{{item.grantDate}}</td>
                            <td>{{item.category.name}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <td colspan="7" ng-if="(items|filter:searchrecord).length == 0" class="text-center">
                            <strong>DATA NOT FOUND.</strong>
                        </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>