.navbar-logo {
    background: url(../images/th-logo.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    width: 36px;
    height: 36px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-name {
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-menu-long-width {
    width: 180px;
}

.dropdown-menu-short-width {
    width: 140px;
}


@media(max-width:320px) {
    .navbar-name {
        display: none;
    }
}