.userProfilewrapper {
    padding-left: 225px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.userProfile-page-wrapper {
    width: 100%;
    padding: 15px;
    background-color: #fff;
}

/* Side Navigation */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1000;
}

.side-nav>li>a {
    width: 225px;
    color: #999;
    font-size: 20px;
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}


@media(max-width:768px) {
    .userProfilewrapper {
        padding-left: 0px;
    }

    .sidebar{
        width: 0px;
    }

    .userProfilewrapper.toggled {
        padding-left: 225px;
    }

    .userProfilewrapper.toggled .sidebar {
        width: 225px;
    }
}


/*Profile Page*/
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4{
    color: #d9534f;
}

.progress-meter {
    min-height: 15px;
    border-bottom: 2px solid rgb(160, 160, 160);
    margin-bottom: 15px;
}

.progress-meter > .meter {
    position: relative;
    float: left;
    min-height: 15px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
    border-left-width: 2px;
}

.progress-meter > .meter-right {
    float: right;
    border-right-width: 2px;
}

.progress-meter > .meter-right:last-child {
    border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    width: 100%;
    font-weight: 700;
    font-size: 0.85em;
    color: rgb(160, 160, 160);
    text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
    text-align: right;
}