<div class="userSettingswrapper" ng-controller="courseManagementController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userSettings/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->


    <!--page views-->
    <div class="userSettingsContentwrapper">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <span>Course Management</span>
                    <i class="fa fa-fw fa-plus-circle titl-side-btn" data-toggle="modal" data-target="#addCourseModal"></i>
                </h1>
            </div>

            <!-- add course modal -->
            <div class="modal fade" id="addCourseModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-toggle="modal" data-target="#addCourseModal">&times;</button>
                            <h4 class="modal-title">Add Course</h4>
                        </div>
                        <div class="modal-body">
                            <form name="eachCourseForm">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Start Date:</label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="startDatePicker.show = !startDatePicker.show">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                                <button class="form-control text-left" type="button" ng-click="startDatePicker.show = !startDatePicker.show">{{eachCourse.startDate | date:'yyyy-MM-dd'}}</button>
                                                <div type="text" uib-datepicker-popup ng-model="eachCourse.startDate" is-open="startDatePicker.show" datepicker-options="startDatePicker" close-text="Close" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">End Date:</label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="endDatePicker.show = !endDatePicker.show">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                                <button class="form-control text-left" type="button" ng-click="endDatePicker.show = !endDatePicker.show">{{eachCourse.endDate | date:'yyyy-MM-dd'}}</button>
                                                <div type="text" uib-datepicker-popup ng-model="eachCourse.endDate" is-open="endDatePicker.show" datepicker-options="endDatePicker" close-text="Close" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Course Name:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" name="name" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-z0-9]*$/"  ng-model="eachCourse.name" required>
                                            <div class="text-danger" ng-show="eachCourseForm.name.$dirty && (eachCourseForm.name.$error.minlength || eachCourseForm.name.$error.maxlength || eachCourseForm.name.$error.pattern)">Course name must be between 3 to 10 characters, and contains strings and numbers only.</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Academic Term:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" name="academicTerm" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-z]*$/" ng-model="eachCourse.academicTerm" required>
                                            <div class="text-danger" ng-show="eachCourseForm.academicTerm.$dirty && (eachCourseForm.academicTerm.$error.minlength || eachCourseForm.academicTerm.$error.maxlength || eachCourseForm.academicTerm.$error.pattern)">Academic term must be between 3 to 10 characters, and contains strings only.</div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-lg-3 control-label">User Privilege:</label>-->
                                        <!--<div class="col-lg-8">-->
                                            <!--<select name="course" ng-model="eachCourse.userPrivileges" ng-options="userPrivilege as userPrivilege for userPrivilege in userPrivileges" class="form-control">-->
                                                <!--<option value="">Please select a User Privilege...</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Description:</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" name="description" ng-model="eachCourse.description" rows="5" cols="50" required></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-ng-disabled="(eachCourseForm.$invalid || eachCourseForm.$pristine)" data-ng-click="createCourse()"> Create</button>
                            <button type="reset" class="btn btn-default" data-toggle="modal" data-target="#addCourseModal" data-ng-click="clearAddCourseForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="col-lg-12" page-Control gap="5" viewby="viewby" currentpage="currentpage" operations="operations" items="courses" searchrecord="searchrecord">
                    <!--select type of courses to display-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="typeController">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a data-toggle="tab" data-ng-click="getCourses('all')">All Courses</a>
                                    </li>
                                    <li class="active">
                                        <a data-toggle="tab" data-ng-click="getCourses('active')">Active Courses</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-ng-click="getCourses('inactive')">Inactive Courses</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--course cards-->
                        <div class="col-lg-12">
                            <div class="col-sm-6 col-xs-12" ng-repeat="course in (courses | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby) track by $index">
                                <div class="panel panel-danger courseCard">
                                    <div class="panel-heading">
                                        <span><strong>{{course.name}}</strong></span>
                                        <!--delete course button-->
                                        <span ng-show="!editCourse && displayType === 'active'" class="btn btn-xs pull-right glyphicon glyphicon-trash" ng-confirm-click="Are you sure to delete this course?" confirmed-click="deleteCourse(course)"></span>
                                        <span ng-show="!editCourse && displayType === 'active'" class="pull-right"> | </span>
                                        <!--edit course button-->
                                        <span ng-show="!editCourse && displayType === 'active'" class="btn btn-xs pull-right glyphicon glyphicon-pencil" data-ng-click="editCourse = true"></span>
                                        <!--cancel changes button-->
                                        <button ng-show="editCourse && displayType === 'active'" class="btn btn-danger btn-xs btn-circle pull-right" data-ng-click="editCourse = false; clearEditCourseForm()">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <!--save changes button-->
                                        <button ng-show="editCourse && displayType === 'active'" data-ng-disabled="form.editCourseForm.$invalid" class="btn btn-success btn-xs btn-circle pull-right" data-ng-click="editCourse = false; updateCourseInfo(course)">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </div>
                                    <div class="panel-body">
                                        <form class="row" name="form.editCourseForm">
                                            <div class="col-xs-12">
                                                <label><strong>Start Date: </strong></label>
                                                <div ng-if="!editCourse" class="crap-word">{{course.startDate.slice(0, 10)}}</div>
                                                <button ng-if="editCourse" class="form-control text-left" type="button" ng-click="startDatePickerTwo.show = !startDatePickerTwo.show">{{editCourses[$index].startDateObj ? (editCourses[$index].startDateObj | date:'yyyy-MM-dd') : editCourses[$index].startDate.slice(0, 10)}}</button>
                                                <div type="text" uib-datepicker-popup ng-model="editCourses[$index].startDateObj" is-open="startDatePickerTwo.show" datepicker-options="startDatePickerTwo" close-text="Close" />
                                            </div>
                                            <div class="col-xs-12">
                                                <label><strong>End Date: </strong></label>
                                                <div ng-if="!editCourse" class="crap-word">{{course.endDate.slice(0, 10)}}</div>
                                                <button ng-if="editCourse" class="form-control text-left" type="button" ng-click="endDatePickerTwo.show = !endDatePickerTwo.show">{{editCourses[$index].endDateObj ? (editCourses[$index].endDateObj | date:'yyyy-MM-dd') : editCourses[$index].endDate.slice(0, 10)}}</button>
                                                <div type="text" uib-datepicker-popup ng-model="editCourses[$index].endDateObj" is-open="endDatePickerTwo.show" datepicker-options="endDatePickerTwo" close-text="Close" />
                                            </div>
                                            <div class="col-xs-12">
                                                <label><strong>Description: </strong></label>
                                                <div ng-if="!editCourse" class="crap-word">{{course.description}}</div>
                                                <textarea ng-if="editCourse" class="form-control" name="description" ng-model="editCourses[$index].description" rows="2" cols="50" required></textarea>
                                            </div>
                                            <div class="col-xs-12">
                                                <label><strong>Academic Term: </strong></label>
                                                <div ng-if="!editCourse" class="crap-word">{{course.academicTerm}}</div>
                                                <input ng-if="editCourse" class="form-control" name="academicTerm" ng-minlength="3" ng-maxlength="10" ng-pattern="/^[A-z]*$/" ng-model="editCourses[$index].academicTerm" required>
                                                <div class="text-danger" ng-show="editCourse && editCourseForm.academicTerm.$dirty && (editCourseForm.academicTerm.$error.minlength || editCourseForm.academicTerm.$error.maxlength || editCourseForm.academicTerm.$error.pattern)">Academic term must be between 3 to 10 characters, and contains strings only.</div>
                                            </div>
                                            <div class="col-xs-12">
                                                <label><strong>Access Privileges: </strong></label>
                                                <div class="crap-word">{{getUserPrivilegesList(course.userPrivileges)}}</div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="(courses|filter:searchrecord).length == 0" class="text-center">
                                <h2>COURSE NOT FOUND.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
