<div class="userSettingswrapper" ng-controller="courseManagementController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userSettings/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->


    <!--page views-->
    <div class="userSettingsContentwrapper">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <span>Course Management</span>
                    <i class="fa fa-fw fa-plus-circle titl-side-btn" data-toggle="modal" data-target="#addCourseModal"></i>
                </h1>
            </div>

            <!-- add course modal -->
            <div class="modal fade" id="addCourseModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-toggle="modal" data-target="#addCourseModal">&times;</button>
                            <h4 class="modal-title">Add Course</h4>
                        </div>
                        <div class="modal-body">
                            <form name="eachCourseForm">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Start Date:</label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="startDatePicker.show = !startDatePicker.show">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                                <button class="form-control text-left" type="button" ng-click="startDatePicker.show = !startDatePicker.show">{{coursePeriod.startDate | date:'yyyy-MM-dd'}}</button>
                                                <div type="text" uib-datepicker-popup ng-model="coursePeriod.startDate" is-open="startDatePicker.show" datepicker-options="startDatePicker" close-text="Close" ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">End Date:</label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="endDatePicker.show = !endDatePicker.show">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                                <button class="form-control text-left" type="button" ng-click="endDatePicker.show = !endDatePicker.show">{{coursePeriod.endDate | date:'yyyy-MM-dd'}}</button>
                                                <div type="text" uib-datepicker-popup ng-model="coursePeriod.endDate" is-open="endDatePicker.show" datepicker-options="endDatePicker" close-text="Close" ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Course Name:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" name="name" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-z0-9]*$/"  ng-model="eachCourse.name" required>
                                            <div class="text-danger" ng-show="eachCourseForm.name.$dirty && (eachCourseForm.name.$error.minlength || eachCourseForm.name.$error.maxlength || eachCourseForm.name.$error.pattern)">Course name must be between 3 to 10 characters, and contains strings and numbers only.</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Academic Term:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" name="academicTerm" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[A-z]*$/" ng-model="eachCourse.academicTerm" required>
                                            <div class="text-danger" ng-show="eachCourseForm.academicTerm.$dirty && (eachCourseForm.academicTerm.$error.minlength || eachCourseForm.academicTerm.$error.maxlength || eachCourseForm.academicTerm.$error.pattern)">Academic term must be between 3 to 10 characters, and contains strings only.</div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-lg-3 control-label">User Privilege:</label>-->
                                        <!--<div class="col-lg-8">-->
                                            <!--<select name="course" ng-model="eachCourse.userPrivileges" ng-options="userPrivilege as userPrivilege for userPrivilege in userPrivileges" class="form-control">-->
                                                <!--<option value="">Please select a User Privilege...</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Description:</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" name="description" ng-model="eachCourse.description" rows="5" cols="50" placeholder="Describe the course here..." required></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-ng-disabled="(eachCourseForm.$invalid || eachCourseForm.$pristine)" data-ng-click="createCourse()"> Create</button>
                            <button type="reset" class="btn btn-default" data-toggle="modal" data-target="#addCourseModal" data-ng-click="clearAddCourseForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="col-lg-12" page-Control gap="5" viewby="viewby" currentpage="currentpage" operations="operations" items="courses" searchrecord="searchrecord">
                    <!--select type of courses to display-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="typeController">
                                <ul class="nav nav-pills">
                                    <li class="active">
                                        <a data-toggle="tab" data-ng-click="getCourses('active');">Active Courses</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-ng-click="getCourses('inactive');">Inactive Courses</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--edit course cards-->
                        <div class="col-lg-12">
                            <div class="col-sm-6 col-xs-12" ng-repeat="course in (courses | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby)">
                                <course-Card course="course" display-Type="displayType" get-Courses="getCourses(displayType)"></course-Card>
                            </div>
                            <div ng-if="(courses|filter:searchrecord).length == 0" class="text-center">
                                <h2>COURSE NOT FOUND.</h2>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
