<div ng-controller="homepageController">
    <div class="site-heading heading-cover" id="page_header">
        <div class="container-fluid">
            <div class="heading-content">
                <h1 class="site-title">Tracademic Hub</h1>
                <h3 class="site-description">Description goes here. long long long long long long long long long description.</h3>
                <hr class="heading-divider">
                <a class="btn btn-primary btn-lg" ng-if="!isAuthenticated()" ng-click="utoridLogin()">
                    <span><i class="fa fa-sign-in fa-fw"></i></span>
                    <span>UTORid Login</span>
                </a>
                <a href="dashboard" class="btn btn-primary btn-lg" ng-if="isAuthenticated()">
                    <span><i class="fa fa-tachometer fa-fw"></i></span>
                    <span>Dashboard</span>
                </a>
            </div>
        </div>
    </div>
    <!-- ==================== separator ==================== -->
    <div class="container-fluid" id="page_content">
        <div class="row">
            <div class="col-lg-12">
                <!--app title and introduction-->
                <div class="container margin-top-10 margin-bottom-10">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="align-text-center">
                                <h2>Introducing the Tracademic Hub</h2>
                                <p>brief introduction for Tracademic Hub</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--app list-->
                <div class="container">
                    <div class="row margin-top-10 margin-bottom-10">
                        <!--code mangler-->
                        <div class="col-12 col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="app-container align-text-center">
                                <div class="app-icon">
                                    <i class="fa fa-file-code-o fa-5x"></i>
                                </div>
                                <h4>Code Mangler</h4>
                                <p>some description here. long long long centence. blah blah blah blah blah blah blah blah blah blah blah blah</p>
                            </div>
                        </div>
                        <!--code reviewer-->
                        <div class="col-12 col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="app-container align-text-center">
                                <div class="app-icon">
                                    <i class="fa fa-desktop fa-5x"></i>
                                </div>
                                <h4>Code Reviewer</h4>
                                <p>some description here. long long long centence. difference size for testing purpose.</p>
                            </div>
                        </div>
                        <!--Note: add clearfix for every 2 app block-->
                        <div class="clearfix visible-xs-block"></div>
                        <!--acativity tracker-->
                        <div class="col-12 col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="app-container align-text-center">
                                <div class="app-icon">
                                    <i class="fa fa-paper-plane-o fa-5x"></i>
                                </div>
                                <h4>Activity Tracker</h4>
                                <p>some description here. long long long centence</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>