<div ng-include="'angular_components/navigation_bar/navigationBar.html'"></div>
<login-dialog></login-dialog>

<div class="sidebar">
    <ul class="nav side-nav">
        <li>
            <a href="/profile" ng-class="{'activeTab': (activetab == '/profile')}"><i class="fa fa-fw fa-dashboard"></i> Profile</a>
        </li>
        <li>
            <a href="/states" ng-class="{'activeTab': (activetab == '/states')}"><i class="fa fa-fw fa-bar-chart-o"></i> States Details</a>
        </li>
        <li>
            <a href="/leaderBoardRank" ng-class="{'activeTab': activetab == '/leaderBoardRank'}"><i class="fa fa-fw fa-table"></i> LeaderBoard Rank</a>
        </li>
        <li ng-if="!isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE)">
            <a href="/manageProducts" ng-class="{'activeTab': activetab == '/manageProducts'}"><i class="fa fa-fw fa-book"></i> Manage Products</a>
        </li>
        <li ng-if="!isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE)">
            <a href="/pointsHistory" ng-class="{'activeTab': activetab == '/pointsHistory'}"><i class="fa fa-fw fa-history"></i>Points History</a>
        </li>
        <!--<li>-->
            <!--<a href="javascript:;" data-toggle="collapse" data-target="#history"><i class="fa fa-fw fa-history"></i> History <i class="fa fa-fw fa-caret-down"></i></a>-->
            <!--<ul id="history" class="collapse">-->
                <!--<li>-->
                    <!--<a href="/pointsHistory" ng-class="{'activeTab': activetab == '/pointsHistory'}">Points History</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/loginHistory" ng-class="{'activeTab': activetab == '/loginHistory'}">Login History</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/userManagementHistory" ng-class="{'activeTab': activetab == '/userManagementHistory'}">User Management History</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <li ng-if="!isAuthorized(authorizedPrivilege.ACCESS_TA_VALUE)">
            <a href="javascript:;" data-toggle="collapse" data-target="#management" ng-class="{'activeTab': activetab.indexOf('Management')>-1}"><i class="fa fa-fw fa-wrench"></i> Management <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="management" class="collapse">
                <li>
                    <a href="/userManagement" ng-class="{'activeTab': activetab == '/userManagement'}">User Management</a>
                </li>
                <li ng-if="!isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE)">
                    <a href="/courseManagement" ng-class="{'activeTab': activetab == '/courseManagement'}">Course Management</a>
                </li>
                <li>
                    <a href="/pointManagement" ng-class="{'activeTab': activetab == '/pointManagement'}">Point Management</a>
                </li>
                <!--<li>-->
                    <!--<a href="/privilegeManagement" ng-class="{'activeTab': activetab == '/manageProducts'}">Access Privilege Management</a>-->
                <!--</li>-->
            </ul>
        </li>
    </ul>
</div>

<span id="sidebar-btn" class="btn btn-default" ng-click="$parent.toggled = !toggled">
    <i class="fa fa-2x" ng-class="{'fa-angle-double-right': !toggled, 'fa-angle-double-left': toggled}"></i>
</span>