<div class="userSettingswrapper" ng-controller="userManagementController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userSettings/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->

    <!--Page Views-->
    <div class="userSettingsContentwrapper">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <span>Users Management</span>
                    <span ng-if="isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE)" class="fa fa-fw fa-plus-circle titl-side-btn hand-cursor" data-toggle="modal" data-target="#addUserModal"></span>
                </h1>
            </div>
        </div>
        <div ng-include="'angular_components/userSettings/common/userSettingsModals/addUserModal.html'"></div>

        <!--switch views control buttons-->
        <div class="well well-sm" ng-init="tableDisplay = true">
            <strong>Display</strong>
            <div class="btn-group">
                <span id="list" class="btn btn-default btn-sm" ng-click="tableDisplay = true; displayUser.displayType = 'active'" ng-class="{active: tableDisplay}" >
                    <span class="glyphicon glyphicon-th-list"></span> List</span>
                <span id="grid" class="btn btn-default btn-sm" ng-click="tableDisplay = false; displayUser.displayType = 'active'" ng-class="{active: !tableDisplay}">
                    <span class="glyphicon glyphicon-th"></span> Grid</span>
            </div>
        </div>

        <!--table view-->
        <div class="row" ng-if="tableDisplay">
            <!-- display user type controller -->
            <div class="col-xs-12 displayUserController">
                <div class="col-xs-4">
                    <label>User Type: </label>
                    <select ng-model="displayUser.displayType" class="form-control userTypeSelection" >
                        <option ng-repeat="displayType in displayTypes">{{displayType}}</option>
                    </select>
                </div>
                <div ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1" class="col-xs-4">
                    <label>Course: </label>
                    <select ng-model="displayUser.displayCourse" ng-options="course as course.name for course in courses" class="form-control courseSelection" required>
                        <option value="">Please select a course...</option>
                    </select>
                </div>
                <div ng-if="displayUser.displayType === 'active' && displayUser.displayCourse.userPrivileges.length > 0" class="col-xs-4">
                    <label>User Privilege: </label>
                    <select ng-model="displayUser.displayPrivilege" ng-options="privilege as privilege.name for privilege in displayUser.displayCourse.userPrivileges" class="form-control" required>
                        <option value="">Please select a user privilege...</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-12" page-Control gap="5" viewby="viewby" currentpage="$parent.currentpage" operations="operations" items="users" searchrecord="searchrecord">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th ng-if="displayUser.displayType !== 'all'">
                                <input type="checkbox" ng-model="selectedAll.checked" ng-click="checkAll(currentpage)" data-ng-disabled="(users|filter:searchrecord).length === 0 || (!displayUser.userOperation && displayUser.displayType !== 'inactive')"/>
                            </th>
                            <th sort-Records order="name.firstName", sort="sort">First Name</th>
                            <th sort-Records order="name.lastName", sort="sort">Last Name</th>
                            <th sort-Records order="name.preferredName", sort="sort">Preferred Name</th>
                            <th sort-Records order="email", sort="sort">Email</th>
                            <th ng-if="['active', 'inactive'].indexOf(displayUser.displayType) > -1" sort-Records order="studentNumber", sort="sort">Student Number</th>
                            <th sort-Records order="lastLoginDate", sort="sort">Last Login Date</th>
                            <th ng-if="displayUser.displayType === 'all'" sort-Records order="isActive", sort="sort">Is Active</th>
                            <th ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1">Give Points</th>
                            <th ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1">Edit</th>
                            <th ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1">Delete</th>
                            <th ng-if="displayUser.displayType === 'inactive'">Active User</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in getPagedItems(((users | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby)) | orderBy:sort.sortingOrder:sort.reverse)">
                            <td ng-if="displayUser.displayType !== 'all'">
                                <input type="checkbox" ng-model="item.selected" ng-click="checkRow(item, currentpage)" data-ng-disabled="(!displayUser.userOperation && displayUser.displayType !== 'inactive')"/>
                            </td>
                            <td data-ng-click="openUserProfileModal(item)" class="hand-cursor">{{item.name.firstName}}</td>
                            <td data-ng-click="openUserProfileModal(item)" class="hand-cursor">{{item.name.lastName}}</td>
                            <td data-ng-click="openUserProfileModal(item)" class="hand-cursor">{{item.name.preferredName}}</td>
                            <td data-ng-click="openUserProfileModal(item)" class="hand-cursor">{{item.email}}</td>
                            <td ng-if="['active', 'inactive'].indexOf(displayUser.displayType) > -1" data-ng-click="openUserProfileModal(item)" class="hand-cursor">{{item.studentNumber}}</td>
                            <td data-ng-click="openUserProfileModal(item)" class="hand-cursor">{{item.lastLoginDate}}</td>
                            <td ng-if="displayUser.displayType === 'all'">
                                <div data-ng-click="openUserProfileModal(item)" class="hand-cursor">
                                    <span ng-if="item.isActive" class="glyphicon glyphicon-ok"></span>
                                    <span ng-if="!item.isActive" class="glyphicon glyphicon-remove"></span>
                                </div>
                            </td>
                            <!--give points button-->
                            <td ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1" class="text-center">
                                <button ng-disabled="item.isLocalUser || !displayUser.userOperation" class="btn btn-warning btn-xs" data-ng-click="givePoints([item])">
                                    <span class="glyphicon glyphicon-gift"></span>
                                </button>
                            </td>
                            <!--edit user profile button-->
                            <td ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1" class="text-center">
                                <button ng-disabled="!isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) || item.isLocalUser || !displayUser.userOperation" class="btn btn-primary btn-xs" ng-click="openEditProfileModal(item)" >
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                            <!--delete user button-->
                            <td ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1" class="text-center">
                                <button ng-disabled="!isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) || item.isLocalUser || !displayUser.userOperation" class="btn btn-danger btn-xs" ng-confirm-click="Are you sure to delete this user?" confirmed-click="deleteUser(item)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                            <!--active user button-->
                            <td ng-if="displayUser.displayType === 'inactive'" class="text-center">
                                <button ng-disabled="!isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) || item.isLocalUser" class="btn btn-success btn-xs" ng-confirm-click="Are you sure to active this user?" confirmed-click="activeUser(item)">
                                    <span class="glyphicon glyphicon-flag"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <td colspan="{{getColspan()}}" ng-if="pagedItems.length != 0 && checkedItems.length > 1 && (displayUser.userOperation || displayUser.displayType === 'inactive')">
                            <!--delete mutiple users button-->
                            <span ng-if="isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) && ['active', 'checkedin'].indexOf(displayUser.displayType) > -1" class="btn btn-danger checkedAllSection" ng-confirm-click="Are you sure to delete selected user?" confirmed-click="deleteSelectedUsers(checkedItems)">Delete Selected Users</span>
                            <!--modify mutiple user access privileges button-->
                            <span ng-if="isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) && ['active', 'checkedin'].indexOf(displayUser.displayType) > -1" class="btn btn-primary checkedAllSection" data-title="ModifyPrivilege" data-toggle="modal" data-target="#modifyPrivilegeModal">Modify Access Privilege</span>
                            <!--give points to mutiple users button-->
                            <span ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1" class="btn btn-info checkedAllSection" ng-click="givePoints(checkedItems)">Give Points</span>
                            <!--active mutiple users button-->
                            <span ng-if="displayUser.displayType === 'inactive'" data-ng-disabled="!isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE)" class="btn btn-success checkedAllSection" ng-confirm-click="Are you sure to active selected user?" confirmed-click="activeSelectedUsers(checkedItems)">Active Selected Users</span>
                            <span><strong class="">{{checkedItems.length}} record selected</strong></span>
                        </td>
                        <td colspan="{{getColspan()}}" ng-if="(pagedItems.length == 0 || checkedItems.length <= 1 || (displayUser.displayType !== 'inactive' && !displayUser.userOperation)) && (users|filter:searchrecord).length != 0" class="text-center text-muted">
                            <div>Click row to view user profile.</div>
                            <div ng-if="displayUser.displayType === 'active' && !displayUser.userOperation">Perform Bulk User Operations after selecting a course.</div>
                            <div ng-if="displayUser.displayType !== 'all' && (pagedItems.length == 0 || checkedItems.length <= 1)">Select Multiple Users and perform Bulk User Operations.</div>
                        </td>
                        <td colspan="{{getColspan()}}" ng-if="(users|filter:searchrecord).length == 0" class="text-center">
                            <strong>DATA NOT FOUND.</strong>
                        </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!--card view-->
        <div class="row" ng-if="!tableDisplay">
            <div class="col-lg-12" page-Control gap="5" viewby="viewby" currentpage="currentpage" operations="operations" items="users" searchrecord="searchrecord">
                <div class="row">
                    <!-- display user type controller -->
                    <div class="col-xs-12 displayUserController">
                        <div class="col-xs-4">
                            <label>User Type: </label>
                            <select ng-model="displayUser.displayType" class="form-control userTypeSelection" >
                                <option ng-repeat="displayType in displayTypes">{{displayType}}</option>
                            </select>
                        </div>
                        <div ng-if="displayUser.displayType === 'active'" class="col-xs-4">
                            <label>Course: </label>
                            <select ng-model="displayUser.displayCourse" ng-options="course as course.name for course in courses" class="form-control courseSelection" required>
                                <option value="">Please select a course...</option>
                            </select>
                        </div>
                        <div ng-if="displayUser.displayType === 'active' && displayUser.displayCourse.userPrivileges.length > 0" class="col-xs-4">
                            <label>User Privilege: </label>
                            <select ng-model="displayUser.displayPrivilege" ng-options="privilege as privilege.name for privilege in displayUser.displayCourse.userPrivileges" class="form-control" required>
                                <option value="">Please select a user privilege...</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-md-6" ng-repeat="item in (users | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby)">
                            <div class="col-xs-12 name-card">
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <!--edit user profile button-->
                                                <button ng-if="isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) && ['active', 'checkedin'].indexOf(displayUser.displayType) > -1 && displayUser.userOperation" class="btn btn-info btn-xs btn-circle" ng-click="openEditProfileModal(item)" >
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <!--delete the user button-->
                                                <button ng-if="isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) && ['active', 'checkedin'].indexOf(displayUser.displayType) > -1 && displayUser.userOperation" class="btn btn-danger btn-xs btn-circle" ng-confirm-click="Are you sure to delete this user?" confirmed-click="deleteUser(item)" ><span class="glyphicon glyphicon-trash"></span></button>
                                                <!--give point button-->
                                                <button ng-if="['active', 'checkedin'].indexOf(displayUser.displayType) > -1 && displayUser.userOperation" class="btn btn-warning btn-xs btn-circle" data-ng-click="givePoints([item])" ><span class="glyphicon glyphicon-gift"></span></button>
                                                <!--activev user button-->
                                                <button ng-if="isAuthorized(authorizedPrivilege.ACCESS_INSTRUCTOR_VALUE) && displayUser.displayType === 'inactive'" class="btn btn-success btn-xs btn-circle" ng-confirm-click="Are you sure to active this user?" confirmed-click="activeUser(item)" ><span class="glyphicon glyphicon-flag"></span></button>
                                            </div>
                                            <div class="col-xs-9">
                                                <img class="img-circle img-responsive avatar-small" data-ng-src="{{defaultAvatar}}">
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                <strong>Access Privilege: </strong>
                                            </div>
                                            <div ng-if="item.courseEnrolled.length!==0" class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover  text-center">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">Course</th>
                                                        <th class="text-center">Privilege</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="ce in item.courseEnrolled">
                                                        <td>{{ce.course.name}}</td>
                                                        <td>{{ce.privilege.name}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <span ng-if="item.courseEnrolled.length===0" class="text-muted"><strong>No Access Privilege Assigned</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label><strong>First Name: </strong></label>
                                            <div class="crap-word">{{item.name.firstName}}</div>
                                        </div>
                                        <div class="col-xs-12">
                                            <label><strong>Last Name: </strong></label>
                                            <div class="crap-word">{{item.name.lastName}}</div>
                                        </div>
                                        <div class="col-xs-12" ng-if="item.name.preferredName">
                                            <label><strong>Preferred Name: </strong></label>
                                            <div class="crap-word">{{item.name.preferredName}}</div>
                                        </div>
                                        <div class="col-xs-12">
                                            <label><strong>Email: </strong></label>
                                            <div class="crap-word">{{item.email}}</div>
                                        </div>
                                        <div class="col-xs-12" ng-if="item.lastLoginDate">
                                            <label><strong>Last Login Date: </strong></label>
                                            <div class="crap-word">{{item.lastLoginDate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="(users|filter:searchrecord).length == 0" class="text-center">
                            <h2>DATA NOT FOUND.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Modify Access Privilege-->
        <div class="modal fade" id="modifyPrivilegeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Access Privilege</h4>
                    </div>
                    <div class="modal-body">
                        <form class="row" role="form" name="multiUsersPrivilege">
                            <div class="col-xs-12 text-muted"><h5>Assign access privilege for the selected users. </h5></div>
                            <div class="col-xs-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label pull-left">Course:</label>
                                        <div class="col-lg-8">
                                            <select ng-model="selectedCourse" ng-options="course as course.name for course in courses" class="form-control" required>
                                                <option value="">Please select a course...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label pull-left">Access Privilege:</label>
                                        <div class="col-lg-8">
                                            <select ng-model="selectedPrivilege" ng-options="privilege as privilege.name for privilege in selectedCourse.userPrivileges" class="form-control" required>
                                                <option value="">Please select a privilege...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" data-ng-disabled="multiUsersPrivilege.$invalid" class="btn btn-primary" data-toggle="modal" data-target="#modifyPrivilegeModal" data-ng-click="assignPrivilege(checkedItems, selectedPrivilege)">Assign</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>