<div class="modal fade" id="addUserModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-toggle="modal" data-target="#addUserModal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <form name="addUserForm">
                    <!-- tab controller -->
                    <ul class="nav nav-tabs hand-cursor" ng-init="displayCSV = false">
                        <li class="active"><a class="fa fa-user" data-toggle="tab" data-ng-click="displayCSV = false">
                            <strong> Create Local Admin</strong></a>
                        </li>
                        <li><a class="fa fa-address-book" data-toggle="tab" data-ng-click="displayCSV = true">
                            <strong> Import CSV</strong></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!-- add local user -->
                        <ng-form ng-if="!displayCSV" name="createUserForm">
                            <h3>Create Local Admin</h3>
                            <h5 class="text-muted">Fields with "*" are required fields.</h5>
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">*Utorid/Username:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" name="utorid" ng-model="editUserInfo.utorid" ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z0-9]*$/" required>
                                        <div class="text-danger" ng-show="createUserForm.utorid.$dirty && (createUserForm.utorid.$error.minlength || createUserForm.utorid.$error.maxlength || createUserForm.utorid.$error.pattern)">Utorid/Username must be between 5 and 20 characters, and contain letters &amp; numbers only.</div>
                                        <div class="text-danger" ng-show="utoridExist">Utorid/username already exists.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">*Password:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="password" name="password" ng-minlength="6" ng-maxlength="20" ng-model="editUserInfo.password" required>
                                        <div class="text-danger" ng-show="createUserForm.password.$dirty && (createUserForm.password.$error.minlength || createUserForm.password.$error.maxlength)">Passwords must be between 6 and 20 characters.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">*Confirm the Password:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="password" name="repassword" ng-model="editUserInfo.repassword" pwd-Check="editUserInfo.password" required>
                                        <div class="text-danger" ng-show="createUserForm.repassword.$error.matchPassword && createUserForm.repassword.$dirty">Password does not match.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">*First Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="firstName" ng-model="editUserInfo.firstName" type="text" ng-pattern="/^[A-z]*$/" required>
                                        <div class="text-danger" ng-show="createUserForm.firstName.$dirty && createUserForm.firstName.$error.pattern">Invalid first name</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">*Last Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="lastName" ng-model="editUserInfo.lastName" type="text" ng-pattern="/^[A-z]*$/" required>
                                        <div class="text-danger" ng-show="createUserForm.lastName.$dirty && createUserForm.lastName.$error.pattern">Invalid last name</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Preferred Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="preferredName" ng-model="editUserInfo.preferredName" ng-pattern="/^[A-z]*$/" type="text">
                                        <div class="text-danger" ng-show="createUserForm.preferredName.$dirty && createUserForm.preferredName.$error.pattern">Invalid preferred name</div>
                                    </div>
                                </div>
                            </fieldset>
                        </ng-form>
                        <!-- add users by importing csv file -->
                        <ng-form ng-if="displayCSV" name="importCSVForm">
                            <h3>Import CSV File</h3>
                            <ul>
                                <li class="text-muted">Maximum file size is <strong>32MB</strong></li>
                                <li class="text-muted">This file should have the following required headers: <strong>UTORiD</strong>, <strong>First Name</strong>, <strong>Last Name</strong>, <strong>Student Number</strong>, <strong>Email</strong></li>
                            </ul>
                            <input type="file" class="form-control" accept=".csv" file-Changed formname="importCSVForm" filename="$parent.csvfile">
                        </ng-form>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button ng-if="!displayCSV" class="btn btn-primary" data-ng-disabled="(addUserForm.createUserForm.$invalid || addUserForm.createUserForm.$pristine || utoridExist)" data-ng-click="createAdmin()"> Create</button>
                <button ng-if="displayCSV" type="submit" class="btn btn-primary" data-ng-disabled="addUserForm.importCSVForm.$pristine" data-toggle="modal" data-target="#addUserModal" data-ng-click="importCSVFile()"> Import</button>
                <button type="reset" class="btn btn-default" data-toggle="modal" data-target="#addUserModal" data-ng-click="clearForm()">Cancel</button>
            </div>
        </div>
    </div>
</div>