<div class="userProfilewrapper" ng-controller="pointsHistoryController" ng-class="{'toggled': toggled}">

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userProfile/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->

    <!--Page Views-->
    <div class="userProfile-page-wrapper">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <span>Points History</span>
                </h1>
            </div>
        </div>

        <!--data table-->
        <div class="row">
            <div class="col-lg-12" page-Control gap="5" viewby="viewby" currentpage="currentpage" operations="operations" items="items" searchrecord="searchrecord">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th sort-Records order="fullName", sort="sort">Assignee Full Name</th>
                        <th sort-Records order="preferredName", sort="sort">Assignee Preferred Name</th>
                        <th sort-Records order="category", sort="sort">Category</th>
                        <th sort-Records order="course", sort="sort">Course</th>
                        <th sort-Records order="date", sort="sort">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items | orderBy:sort.sortingOrder:sort.reverse | filter:searchrecord | limitTo : viewby : (currentpage-1)*viewby">
                        <td>{{item.fullName}}</td>
                        <td>{{item.preferredName}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.course}}</td>
                        <td>{{item.date}}</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <td colspan="5" ng-if="(items|filter:searchrecord).length == 0" class="text-center">
                        <strong>DATA NOT FOUND.</strong>
                    </td>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

</div>