<div class="sidebar navbar-default">
    <ul class="nav side-nav">
        <li>
            <a href="/profile"><i class="fa fa-fw fa-dashboard"></i> Profile</a>
        </li>
        <li>
            <a ng-href="/states"><i class="fa fa-fw fa-bar-chart-o"></i> States Details</a>
        </li>
        <li>
            <a href="/leaderBoardRank"><i class="fa fa-fw fa-table"></i> LeaderBoard Rank</a>
        </li>
        <li>
            <a href="/manageProducts"><i class="fa fa-fw fa-book"></i> Manage Products</a>
        </li>
        <!--ng-if="isAuthenticated()"-->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#history"><i class="fa fa-fw fa-history"></i> History <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="history" class="collapse">
                <li>
                    <a href="/pointsHistory">Points History</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
        <!--ng-if="isAuthenticated()"-->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#management"><i class="fa fa-fw fa-wrench"></i> Management <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="management" class="collapse">
                <li>
                    <a href="/pointManagement">Point Management</a>
                </li>
                <li>
                    <a href="/userManagement">User Management</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<span id="sidebar-btn" class="btn btn-default" ng-click="$parent.toggled = !toggled">
    <i class="fa fa-2x" ng-class="{'fa-angle-double-right': !toggled, 'fa-angle-double-left': toggled}"></i>
</span>

