<div class="userProfilewrapper" ng-controller="statesController" >

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'angular_components/userProfile/settings_sidebar.html'"></div>
    <!-- /.navbar-collapse -->

    <!--Page Views-->
    <div class="userProfile-page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <span>John Doe</span>
                        <small>
                            States Details
                            <a href="#"><i class="fa fa-fw fa-gear"></i></a>
                        </small>
                    </h1>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-table"></i> Points Received History </h4>
                        </div>
                        <div class="panel-body">
                            <!--records display number-->
                            <div class="row gridHead">
                                <div class="col-md-3">
                                    <div class="grid-option-setting"><strong>Show
                                        <select ng-model="viewby" class="select-width" ng-change="setPage(1)">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="30">15</option>
                                            <option value="50">100</option>
                                        </select> entries
                                    </strong></div>
                                </div>

                                <!--search bar-->
                                <div class="col-md-3 pull-right">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                        <input type="text" class="form-control" placeholder="Search" ng-model="searchRecord">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th sort-Records order="fullName", sort="sort">Assignee Full Name</th>
                                            <th sort-Records order="preferredName", sort="sort">Assignee Preferred Name</th>
                                            <th sort-Records order="category", sort="sort">Category</th>
                                            <th sort-Records order="course", sort="sort">Course</th>
                                            <th sort-Records order="date", sort="sort">Date</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="item in items.slice((pager.currentPage-1)*viewby, pager.currentPage*viewby) | orderBy:sort.sortingOrder:sort.reverse | filter:searchRecord">
                                            <td>{{item.fullName}}</td>
                                            <td>{{item.preferredName}}</td>
                                            <td>{{item.category}}</td>
                                            <td>{{item.course}}</td>
                                            <td>{{item.date}}</td>
                                        </tr>
                                        </tbody>

                                        <tfoot>
                                        <td colspan="5" ng-if="items.length == 0" class="text-center">
                                            <strong>There's no data.</strong>
                                        </td>
                                        </tfoot>
                                    </table>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- pager -->
                                            <ul class="pagination">
                                                <li ng-class="{disabled:pager.currentPage === 1}">
                                                    <a ng-click="setPage(1)">First</a>
                                                </li>
                                                <li ng-class="{disabled:pager.currentPage === 1}">
                                                    <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                                                </li>
                                                <li ng-repeat="page in range(pager.currentPage, pager.gap)"
                                                    ng-class="{active:pager.currentPage === page}">
                                                    <a ng-click="setPage(page)">{{page}}</a>
                                                </li>
                                                <li ng-class="{disabled:pager.currentPage === getTotalPagesNum()}">
                                                    <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                                                </li>
                                                <li ng-class="{disabled:pager.currentPage === getTotalPagesNum()}">
                                                    <a ng-click="setPage(getTotalPagesNum())">Last</a>
                                                </li>
                                            </ul>
                                            <span class="pull-right"><strong>Showing {{(pager.currentPage-1)*viewby}} to {{pager.currentPage*viewby}} of {{items.length}} entities</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--States Details Showing in Different Charts-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-bar-chart-o"></i> Total Points Received Timeline Chart </h4>
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<div class="panel panel-info">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title"><i class="fa fa-table"></i> Points Received History</h4>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<table id="statesHistory" th-datatables="{pagingType: 'full_numbers'}" class="display table table-bordered table-hover table-striped" cellspacing="0">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Assignee Full Name</th>-->
                                    <!--<th>Assignee Preferred Name</th>-->
                                    <!--<th>Category</th>-->
                                    <!--<th>Course</th>-->
                                    <!--<th>Date</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tfoot>-->
                                <!--<tr>-->
                                    <!--<th>Assignee Full Name</th>-->
                                    <!--<th>Assignee Preferred Name</th>-->
                                    <!--<th>Category</th>-->
                                    <!--<th>Course</th>-->
                                    <!--<th>Date</th>-->
                                <!--</tr>-->
                                <!--</tfoot>-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td>Tiger Nixon</td>-->
                                    <!--<td>System Architect</td>-->
                                    <!--<td>Edinburgh</td>-->
                                    <!--<td>61</td>-->
                                    <!--<td>2011/04/25</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Garrett Winters</td>-->
                                    <!--<td>Accountant</td>-->
                                    <!--<td>Tokyo</td>-->
                                    <!--<td>63</td>-->
                                    <!--<td>2011/07/25</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Ashton Cox</td>-->
                                    <!--<td>Junior Technical Author</td>-->
                                    <!--<td>San Francisco</td>-->
                                    <!--<td>66</td>-->
                                    <!--<td>2009/01/12</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Cedric Kelly</td>-->
                                    <!--<td>Senior Javascript Developer</td>-->
                                    <!--<td>Edinburgh</td>-->
                                    <!--<td>22</td>-->
                                    <!--<td>2012/03/29</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Airi Satou</td>-->
                                    <!--<td>Accountant</td>-->
                                    <!--<td>Tokyo</td>-->
                                    <!--<td>33</td>-->
                                    <!--<td>2008/11/28</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Brielle Williamson</td>-->
                                    <!--<td>Integration Specialist</td>-->
                                    <!--<td>New York</td>-->
                                    <!--<td>61</td>-->
                                    <!--<td>2012/12/02</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Herrod Chandler</td>-->
                                    <!--<td>Sales Assistant</td>-->
                                    <!--<td>San Francisco</td>-->
                                    <!--<td>59</td>-->
                                    <!--<td>2012/08/06</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Rhona Davidson</td>-->
                                    <!--<td>Integration Specialist</td>-->
                                    <!--<td>Tokyo</td>-->
                                    <!--<td>55</td>-->
                                    <!--<td>2010/10/14</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Colleen Hurst</td>-->
                                    <!--<td>Javascript Developer</td>-->
                                    <!--<td>San Francisco</td>-->
                                    <!--<td>39</td>-->
                                    <!--<td>2009/09/15</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Sonya Frost</td>-->
                                    <!--<td>Software Engineer</td>-->
                                    <!--<td>Edinburgh</td>-->
                                    <!--<td>23</td>-->
                                    <!--<td>2008/12/13</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Jena Gaines</td>-->
                                    <!--<td>Office Manager</td>-->
                                    <!--<td>London</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td>2008/12/19</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Quinn Flynn</td>-->
                                    <!--<td>Support Lead</td>-->
                                    <!--<td>Edinburgh</td>-->
                                    <!--<td>22</td>-->
                                    <!--<td>2013/03/03</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->






            <!--states points recived history-->

            <!--Note: delete later!!!-->
            <!--<div class="row">-->
                <!--<div class="col-lg-4">-->
                    <!--<div class="panel panel-yellow">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Donut Chart Example</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div id="morris-donut-chart"></div>-->
                            <!--<div class="text-right">-->
                                <!--<a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-4">-->
                    <!--<div class="panel panel-red">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Line Graph Example with Tooltips</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div id="morris-line-chart"></div>-->
                            <!--<div class="text-right">-->
                                <!--<a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-4">-->
                    <!--<div class="panel panel-primary">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Bar Graph Example</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div id="morris-bar-chart"></div>-->
                            <!--<div class="text-right">-->
                                <!--<a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>

</div>

<script src="angular_components/userProfile/statesPoints.js"></script>

